<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>StudentServlet</servlet-name>
  	<display-name>StudentServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.vguru.register.controller.StudentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>loginServlet</servlet-name>
  	<display-name>loginServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.vguru.register.controller.loginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.project.vguru.register.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>progress</servlet-name>
  	<display-name>progress</display-name>
  	<description></description>
  	<servlet-class>com.project.vguru.progress.progress</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>profile</servlet-name>
  	<display-name>profile</display-name>
  	<description></description>
  	<servlet-class>com.project.vguru.profile.profile</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>science</servlet-name>
  	<display-name>science</display-name>
  	<description></description>
  	<servlet-class>com.project.vguru.progress.science</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>maths</servlet-name>
  	<display-name>maths</display-name>
  	<description></description>
  	<servlet-class>com.project.vguru.progress.maths</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>activities</servlet-name>
  	<display-name>activities</display-name>
  	<description></description>
  	<servlet-class>com.project.vguru.progress.activities</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updateProgress</servlet-name>
  	<display-name>updateProgress</display-name>
  	<description></description>
  	<servlet-class>com.project.vguru.progress.updateProgress</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>scienceupdate</servlet-name>
  	<display-name>scienceupdate</display-name>
  	<description></description>
  	<servlet-class>com.project.vguru.progress.scienceupdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>mathsupdate</servlet-name>
  	<display-name>mathsupdate</display-name>
  	<description></description>
  	<servlet-class>com.project.vguru.progress.mathsupdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>activitiesupdate</servlet-name>
  	<display-name>activitiesupdate</display-name>
  	<description></description>
  	<servlet-class>com.project.vguru.progress.activitiesupdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>progressparent</servlet-name>
  	<display-name>progressparent</display-name>
  	<description></description>
  	<servlet-class>vguru.progressparent</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>googlelogin</servlet-name>
  	<display-name>googlelogin</display-name>
  	<description></description>
  	<servlet-class>com.project.vguru.google.googlelogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>adminlogin</servlet-name>
  	<display-name>adminlogin</display-name>
  	<description></description>
  	<servlet-class>vguru.adminlogin</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>StudentServlet</servlet-name>
  	<url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>loginServlet</servlet-name>
  	<url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>progress</servlet-name>
  	<url-pattern>/progress</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>profile</servlet-name>
  	<url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>science</servlet-name>
  	<url-pattern>/science</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>maths</servlet-name>
  	<url-pattern>/maths</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>activities</servlet-name>
  	<url-pattern>/activities</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updateProgress</servlet-name>
  	<url-pattern>/updateProgress</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>scienceupdate</servlet-name>
  	<url-pattern>/scienceupdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>mathsupdate</servlet-name>
  	<url-pattern>/mathsupdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>activitiesupdate</servlet-name>
  	<url-pattern>/activitiesupdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>progressparent</servlet-name>
  	<url-pattern>/progressparent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>googlelogin</servlet-name>
  	<url-pattern>/googlelogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>adminlogin</servlet-name>
  	<url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
</web-app>
